body {
  background-color: #eee;
  font-size: 1rem;
  margin: 4rem;
  margin: 0 auto;
  width: 780px;
  padding: 2rem 1rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.modal-content {
  position: relative;
  top: 5px;
  margin: 5rem auto;
  width: 50%;
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.modal-content > h1 {
  margin-bottom: 1rem;
}

#outliner {
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 2rem 1rem;
  margin: 2rem 0;
}
.node {
  margin: 0 1rem;
  color: #222;
}
.node.collapsed::before, .node.expanded::before {
  content: '\22B3';
  float: left;
  padding-top: 6px;
  padding-right: 5px;
}
.node.collapsed::before {
  color: #222;
}
.node.expanded::before {
  color: #aaa;
}

.node.collapsed > .node {
  display: none;
}

.nodeContent {
  padding: 2px 1rem;;
  line-height: 1.7rem;
}
.node.cursor > .nodeContent {
  color: #fff;
  background-color: #000;
}
.nodeContent img {
  width: 100%;
}

.cursor.hidden-cursor > .nodeContent {
  color: #000;
  background-color: #fff;
}
.strikethrough, .strikethrough .node {
  text-decoration: line-through;
  color: #808080;
}


footer {
  text-align: center;
}


/* text styles */

em {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
h1 {
  font-size: 1.7rem;
}
table {
  border: solid 1px #ddd;
}
th {
  font-weight: bold;
  background-color: #666;
  color: #fff;
}
th, td {
  padding: 0.7rem;
}
tr:nth-child(even) {
  background-color: #eee;
}
kbd {
  border: solid 1px #aaa;
  background-color: #d2d2d2;
  padding: 0 5px;
  line-height: 1rem;
  white-space: nowrap;
}

