/**
 * Sections
 *
 * SEARCH
 * OUTLINER
 * TEXTSTYLES
 */

body {
  background-color: #eee;
  font-size: 1rem;
  margin: 4rem;
  margin: 0 auto;
  width: 780px;
  padding: 2rem 1rem;
  font-family: sans-serif;
}

nav {
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 0 1rem;
}
nav li a, nav li a:visited {
  color: #098bd9;
}

footer {
  text-align: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.modal-content {
  position: relative;
  top: 5px;
  margin: 5rem auto;
  width: 50%;
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.modal-content > h1 {
  margin-bottom: 1rem;
}
.modal-content p {
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

/** SEARCH **/
#search-query {
  width: 100%;
  border: solid 1px #888;
  padding: 0.5rem;
  box-sizing: border-box;
}
.search-results {
  margin: 1rem 0;
}
.search-result {
  margin: 0.6rem 0;
  padding: 0.6rem;
  line-height: 1.6rem;
}
.search-result.selected {
  color: #fff;
  background-color: #000;
}

/** OUTLINER **/
#outliner {
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 2rem 1rem;
  margin: 2rem 0;
}
.node {
  margin: 0 1rem;
  color: #222;
}
.node.collapsed::before, .node.expanded::before {
  float: left;
  padding-top: 6px;
  padding-right: 5px;
}
.node.collapsed::before {
  color: #222;
  content: '\25B8';
}
.node.expanded::before {
  color: #aaa;
  content: '\25B9';
}

.node.collapsed > .node {
  display: none;
}

.nodeContent {
  padding: 2px 1rem;;
  line-height: 1.7rem;
}
.node.cursor.expanded::before {
  color: #000;
  content: '\25B8';
}
.node.cursor.collapsed::before {
  color: #fff;
}
.node.cursor > .nodeContent {
  color: #fff;
  background-color: #000;
}
.nodeContent img {
  width: 100%;
}

.cursor.hidden-cursor > .nodeContent {
  color: #000;
  background-color: #fff; }
.strikethrough, .strikethrough .node {
  text-decoration: line-through;
  color: #808080;
}

a {
  color: #098bd9;
}
.cursor > .nodeContent a {
  color: #098bd9;
}
a:visited {
  color: #b26be4;
}
.cursor > .nodeContent a:visited {
  color: #b26be4;
}




/* TEXTSTYLES */

em {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
h1 {
  font-size: 1.7rem;
}
table {
  border: solid 1px #ddd;
}
th {
  font-weight: bold;
  background-color: #666;
  color: #fff;
}
th, td {
  padding: 0.7rem;
}
tr:nth-child(even) {
  background-color: #eee;
}
kbd {
  border: solid 1px #aaa;
  background-color: #d2d2d2;
  padding: 0 5px;
  line-height: 1rem;
  white-space: nowrap;
}
